{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'stocks' %}">Stocks</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <!-- Main content area where child templates can inject own content -->
    {% block content %}
        <!-- Content overridden in child templates -->
    {% endblock %}
</body>
</html>
