<!-- templates/newsapp/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'stocks' %}">Stocks</a></li>
        </ul>
    </nav>

    <!-- The main content area where child templates can inject their own content -->
    {% block content %}
        <!-- Content overridden in child templates -->
    {% endblock %}
</body>
</html>
