{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="sidebar">
    {% for stock_name in stock_names %}
        <button class="stock-button" onclick="loadArticles('{{ stock_name }}')">
            {{ stock_name }}
        </button>

    
    {% endfor %}
</div>
<div id="main-content">
    
</div>

<script>

    // JS to load the articles for a selected stock
    function loadArticles(stockName) {
        fetch(`/api/stock-articles?stock_name=${encodeURIComponent(stockName)}`)
            .then(response => response.json())
            .then(data => {
                const articlesContainer = document.getElementById('main-content');
                articlesContainer.innerHTML = '';  // Clear previous articles

                <!-- adding favourite button-->
                const faveButton = document.createElement('button');
                faveButton.textContent = 'Favourite';
                faveButton.onclick = function() { toggleFavourite(stockName, faveButton); };
                articlesContainer.appendChild(faveButton);

                data.forEach(article => {
                    const articleDiv = document.createElement('div');
                    articleDiv.className = 'article-preview';
                    articleDiv.innerHTML = `
                        <h3>${article.title}</h3>
                        <a href="${article.url}" target="_blank">Read more</a>
                        <p>Published at: ${article.published_at}</p>
                    `;
                    articlesContainer.appendChild(articleDiv);
                });

                toggleFavourite(stockName, faveButton);
            });
    }

    <!-- JS for favouriting-->
    function toggleFavourite(stockName, button) {
        fetch(`/toggle-favourite?stock_name=${encodeURIComponent(stockName)}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'stock_name': stockName }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.is_favourite) {
                button.textContent = 'Unfavourite';
            } else {
                button.textContent = 'Favourite';
            }
        });
    }
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}