

/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the top horizontal navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 50px; 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 1rem;
}

nav ul li a {
    text-decoration: none;
}

#sidebar {
    height: 100vh;
    width: 200px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    left: 0;
    top: 50px;
    overflow-x: hidden; /* Disable horizontal scroll */
}

#sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
}

#main-content {
    margin-left: 200px; /* Same as sidebar width */
}

.article-preview {
    margin: 10px 0;
    padding: 10px;
    border-style: solid;
}

#main-content h2 {
    display: inline; /* Make the title inline with the button */
    margin-right: 10px;
}

#main-content button {
    vertical-align: top; /* Align the button with the title */
    margin-top: 0; 
}

#sidebar h3 {
    margin-top: 0;
    padding-top: 0;
}

.stock-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.stock-header h2 {
    margin: 0;
    display: inline;
}

html, body {
    height: 100%;
    margin: 0;
}

.card{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
